<div class="mt-4">
    <form method="POST" action="">
        <div class="form-group my-2">
            <label for="search-input" class="form-label">Tìm kiếm</label>
            <input type="text" name="value" class="form-control" id="search-input" aria-describedby="emailHelp" placeholder="Nhập từ khóa...">
        </div>
        
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>