{{!-- file này sẽ chứa những nội dung chung của cả trang web(header || footer) --}}
{{!-- Error: ENOENT: no such file or directory, open 'C:\ProgramFiles\nodejs\blog\src\resources\views\layouts\main.handlebars' yêu cầu của hệ thống--}} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodejs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <div class="app container">
        {{> header}}
        
        <div class="container">
            {{{body}}}{{!--phần body được lấy từ file khác--}}
        </div>
        {{> footer}}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    

</body>
</html>